<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>icon</key>
		<string>Enchantress</string>
		<key>askill</key>
		<array>
			<dict>
				<key>cost1</key>
				<string>Cooldown: 15 seconds</string>
				<key>name</key>
				<string>Charm</string>
				<key>level</key>
				<string>15</string>
				<key>desc1</key>
				<string>Charms an enemy to fight for you for 8 to 11 seconds.</string>
			</dict>
			<dict>
				<key>cost1</key>
				<string>Cooldown: 15 seconds</string>
				<key>name</key>
				<string>Disorient</string>
				<key>level</key>
				<string>15</string>
				<key>desc1</key>
				<string>Cast a flash of confusion on a group of enemies in an area, causing them to stumble around disoriented for 9 - 18 seconds. Damage done to confused targets will break the effect.</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Powered Armor</string>
				<key>level</key>
				<string>20</string>
				<key>desc1</key>
				<string>Enchantress buffs herself and her allies, increasing Defense by 10%. Attackers are slowed by 40% for 3 seconds.</string>
			</dict>
			<dict>
				<key>cost1</key>
				<string>Cooldown: 20 seconds</string>
				<key>name</key>
				<string>Reflect Missiles</string>
				<key>level</key>
				<string>20</string>
				<key>desc1</key>
				<string>Place a shield on the Enchantress and her allies that reflects incoming projectiles for 5 seconds.</string>
			</dict>
			<dict>
				<key>cost1</key>
				<string>Cooldown: 10 seconds</string>
				<key>name</key>
				<string>Forceful Push</string>
				<key>level</key>
				<string>25</string>
				<key>desc1</key>
				<string>Summon an arcane explosion 15 yards around an enemy, dealing 200% weapon damage as arcane damage and knocking back all monsters caught within it.</string>
			</dict>
			<dict>
				<key>cost1</key>
				<string>Cooldown: 10 seconds</string>
				<key>name</key>
				<string>Scorched Earth</string>
				<key>level</key>
				<string>25</string>
				<key>desc1</key>
				<string>Bathe an area of ground with pure arcane energy for 3 seconds. Enemies caught in the arcane pool take an extra 50% damage from all attacks for 3, are slowed by 75%, and take 50% weapon damage as arcane damage per second.</string>
			</dict>
			<dict>
				<key>cost1</key>
				<string>Cooldown: 30 seconds</string>
				<key>name</key>
				<string>Focused Mind</string>
				<key>level</key>
				<string>30</string>
				<key>desc1</key>
				<string>The Enchantress places a buff on her allies increasing attack speed by 10% for 10 seconds.</string>
			</dict>
			<dict>
				<key>cost1</key>
				<string>Cooldown: 30 seconds</string>
				<key>name</key>
				<string>Mass Hex</string>
				<key>level</key>
				<string>30</string>
				<key>desc1</key>
				<string>When the player is low on health, the Enchantress lobs a bulb of magical energy at the player that will hex all enemies within 15 yards into chickens for 4 seconds. Hexed enemies are unable to perform offensive actions.</string>
			</dict>
		</array>
		<key>name</key>
		<string>Enchantress</string>
		<key>desc</key>
		<string>Mistress of magic whose powerful illusions disable and confuse her foes.</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>Scoundrel</string>
		<key>name</key>
		<string>Scoundrel</string>
		<key>askill</key>
		<array>
			<dict>
				<key>cost1</key>
				<string>Cooldown: 4 seconds</string>
				<key>name</key>
				<string>Crippling Shot</string>
				<key>level</key>
				<string>10</string>
				<key>desc1</key>
				<string>Ranged attack that slows the target by 70% for 3 seconds.</string>
			</dict>
			<dict>
				<key>cost1</key>
				<string>Cooldown: 4 seconds</string>
				<key>name</key>
				<string>Poison Bolts</string>
				<key>level</key>
				<string>10</string>
				<key>desc1</key>
				<string>Ranged attack which deals 50% weapon damage as poison damage over 3 seconds.</string>
			</dict>
			<dict>
				<key>cost1</key>
				<string>Cooldown: 10 seconds</string>
				<key>name</key>
				<string>Dirty Fighting</string>
				<key>level</key>
				<string>15</string>
				<key>desc1</key>
				<string>Blinds enemies in front of the Scoundrel for 9 - 11 seconds. Any hit will break the effect.</string>
			</dict>
			<dict>
				<key>cost1</key>
				<string>Cooldown: 30 seconds</string>
				<key>name</key>
				<string>Vanish</string>
				<key>level</key>
				<string>15</string>
				<key>desc1</key>
				<string>The Scoundrel vanishes in a cloud of smoke when injured, reappearing after 5 seconds. While vanished he will heal for 2030 Life.</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Multishot</string>
				<key>level</key>
				<string>20</string>
				<key>desc1</key>
				<string>The Scoundrel&apos;s ranged attacks fire 3 bolts at a time.</string>
			</dict>
			<dict>
				<key>cost1</key>
				<string>Cooldown: 6 seconds</string>
				<key>name</key>
				<string>Powered Shot</string>
				<key>level</key>
				<string>20</string>
				<key>desc1</key>
				<string>Powerful ranged attack dealing 250% weapon damage as arcane damage. The impact also causes an explosion 15 yards around the target, knocking back enemies caught in it, with a 50% chance to stun them for 5 seconds.</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Anatomy</string>
				<key>level</key>
				<string>25</string>
				<key>desc1</key>
				<string>Increases Precision by 10% for the Scoundrel and his allies.</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Hysteria</string>
				<key>level</key>
				<string>25</string>
				<key>desc1</key>
				<string>Whenever you or the Scoundrel strike a critical hit you both will go into hysterics, increasing Attack by 10% for 3 seconds. This effect cannot occur more than once every 6 seconds.</string>
			</dict>
		</array>
		<key>desc</key>
		<string>Expert grifter who poisons, blinds, and skewers enemies from range.</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>Templar</string>
		<key>name</key>
		<string>Templar</string>
		<key>askill</key>
		<array>
			<dict>
				<key>cost1</key>
				<string>Cooldown: 15 seconds</string>
				<key>name</key>
				<string>Heal</string>
				<key>level</key>
				<string>5</string>
				<key>desc1</key>
				<string>Heals you or the Templar for 2030 Life.</string>
			</dict>
			<dict>
				<key>cost1</key>
				<string>Cooldown: 30 seconds</string>
				<key>name</key>
				<string>Intervene</string>
				<key>level</key>
				<string>5</string>
				<key>desc1</key>
				<string>Taunts enemies attacking you for 5 seconds when you are below 50% health.</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Intimidate</string>
				<key>level</key>
				<string>10</string>
				<key>desc1</key>
				<string>Enemy units are slowed by 50% for 3 seconds when they hit the Templar. Does not stack with other slows.</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Loyalty</string>
				<key>level</key>
				<string>10</string>
				<key>desc1</key>
				<string>Regenerates 50 Life per second for you and the Templar.</string>
			</dict>
			<dict>
				<key>cost1</key>
				<string>Cooldown: 15 seconds</string>
				<key>name</key>
				<string>Charge</string>
				<key>level</key>
				<string>15</string>
				<key>desc1</key>
				<string>Charges a target, dealing 150% weapon damage and stunning all enemies within 15 yards for 3 seconds.</string>
			</dict>
			<dict>
				<key>cost1</key>
				<string>Cooldown: 15 seconds</string>
				<key>name</key>
				<string>Onslaught</string>
				<key>level</key>
				<string>15</string>
				<key>desc1</key>
				<string>Delivers a massive blow to an enemy for 200% weapon damage plus 120 - 162 physical damage.</string>
			</dict>
			<dict>
				<key>cost1</key>
				<string>Cooldown: 30 seconds</string>
				<key>name</key>
				<string>Guardian</string>
				<key>level</key>
				<string>20</string>
				<key>desc1</key>
				<string>When an ally of the Templar is low on health, the Templar will charge enemies near the ally, damaging enemies for 300% weapon damage and stunning them for 5 seconds. The Templar will also heal the wounded ally for 1218 - 1624 Life, and grant them 59 Life regeneration for 15 seconds.</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Inspire</string>
				<key>level</key>
				<string>20</string>
				<key>desc1</key>
				<string>Increase resource generation for all allies that the Templar is following.
Mana: +13 per second.
Arcane Power: +1 per second.
Hatred: +1 per second.
Discipline: +1 per second.
Fury: +10% generated.
Spirit: +10% generated.</string>
			</dict>
		</array>
		<key>desc</key>
		<string>Peerless holy warrior who challenges demons head-on in melee.</string>
	</dict>
</array>
</plist>
