<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>icon</key>
		<string>Enchantress</string>
		<key>askill</key>
		<array>
			<dict>
				<key>cost1</key>
				<string>冷却：25 秒</string>
				<key>name</key>
				<string>魅惑</string>
				<key>img</key>
				<string>Charm</string>
				<key>level</key>
				<string>15</string>
				<key>desc1</key>
				<string>魅惑一名敵人為你戰鬥，持續 4 秒。</string>
			</dict>
			<dict>
				<key>cost1</key>
				<string>冷却：10 秒</string>
				<key>name</key>
				<string>強力推擊</string>
				<key>img</key>
				<string>Forceful Push</string>
				<key>level</key>
				<string>15</string>
				<key>desc1</key>
				<string>在一名敵人周圍的 8 碼範圍內召喚秘法爆炸，造成 100% 武器傷害值的秘法傷害，並擊退所有範圍內的怪物。</string>
			</dict>
			<dict>
				<key>name</key>
				<string>強力防禦</string>
				<key>img</key>
				<string>Powered Armor</string>
				<key>level</key>
				<string>20</string>
				<key>desc1</key>
				<string>以咒術強化防禦，使你和巫女的護甲值提高 5%，並且使攻擊者的速度降低 30%，持續 3 秒。</string>
			</dict>
			<dict>
				<key>cost1</key>
				<string>冷却：20 秒</string>
				<key>name</key>
				<string>反射力場</string>
				<key>img</key>
				<string>Reflect Missiles</string>
				<key>level</key>
				<string>20</string>
				<key>desc1</key>
				<string>設置防禦結界在你和巫女身上，使遠程攻擊的傷害降低 6%。</string>
			</dict>
			<dict>
				<key>cost1</key>
				<string>冷却：25 秒</string>
				<key>name</key>
				<string>混亂</string>
				<key>img</key>
				<string>Disorient</string>
				<key>level</key>
				<string>15</string>
				<key>desc1</key>
				<string>施放一道混淆心智的炫光，使指定範圍內的敵人在四周盲目遊蕩，持續 2 秒。</string>
			</dict>
			<dict>
				<key>cost1</key>
				<string>冷却：15 秒</string>
				<key>name</key>
				<string>焦土之境</string>
				<key>img</key>
				<string>Scorched Earth</string>
				<key>level</key>
				<string>25</string>
				<key>desc1</key>
				<string>在地面散布純粹的能量，每秒造成 50% 武器傷害值的秘法傷害。受影響的敵人遭到攻擊時都會受到 15% 的額外傷害，持續 3 秒。</string>
			</dict>
			<dict>
				<key>name</key>
				<string>專注精神</string>
				<key>img</key>
				<string>Focused Mind</string>
				<key>level</key>
				<string>30</string>
				<key>desc1</key>
				<string>釋放一道靈氣使 40 碼內的盟友攻擊速度提高 3%。</string>
			</dict>
			<dict>
				<key>cost1</key>
				<string>冷却：30 秒</string>
				<key>name</key>
				<string>群體操控</string>
				<key>img</key>
				<string>Mass Hex</string>
				<key>level</key>
				<string>30</string>
				<key>desc1</key>
				<string>玩家的生命值低落時，巫女會對玩家拋出一顆魔法球，將 15 碼範圍內的所有敵人變成雞， 持續 5 秒。變成雞的敵人無法進行攻擊行動。</string>
			</dict>
		</array>
		<key>name</key>
		<string>巫女</string>
		<key>desc</key>
		<string>幻象魔法的專家，可以癱瘓並迷惑敵人。</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>Scoundrel</string>
		<key>name</key>
		<string>盜賊</string>
		<key>askill</key>
		<array>
			<dict>
				<key>cost1</key>
				<string>冷却：6 秒</string>
				<key>name</key>
				<string>致殘射擊</string>
				<key>img</key>
				<string>Crippling Shot</string>
				<key>level</key>
				<string>10</string>
				<key>desc1</key>
				<string>遠程攻擊使目標速度降低 60%，持續 3 秒。</string>
			</dict>
			<dict>
				<key>cost1</key>
				<string>冷却：6 秒</string>
				<key>name</key>
				<string>劇毒箭</string>
				<key>img</key>
				<string>Poison Bolts</string>
				<key>level</key>
				<string>10</string>
				<key>desc1</key>
				<string>遠程攻擊在 2 秒內造成 100% 武器傷害與額外 40% 武器傷害值的毒素傷害。</string>
			</dict>
			<dict>
				<key>cost1</key>
				<string>冷却：30 秒</string>
				<key>name</key>
				<string>下流招數</string>
				<key>img</key>
				<string>Dirty Fighting</string>
				<key>level</key>
				<string>15</string>
				<key>desc1</key>
				<string>使盜賊前方的敵人眼盲，持續 3 秒。</string>
			</dict>
			<dict>
				<key>cost1</key>
				<string>冷却：30 秒</string>
				<key>name</key>
				<string>消失</string>
				<key>img</key>
				<string>Vanish</string>
				<key>level</key>
				<string>15</string>
				<key>desc1</key>
				<string>盜賊受傷時會消失在一片煙霧之中，並在 5 秒後重新出現。盜賊消失時會恢復 15505 點生命值。</string>
			</dict>
			<dict>
				<key>name</key>
				<string>多重射擊</string>
				<key>img</key>
				<string>Multishot</string>
				<key>level</key>
				<string>20</string>
				<key>desc1</key>
				<string>盜賊的遠程攻擊一次可發射 3 支箭。</string>
			</dict>
			<dict>
				<key>cost1</key>
				<string>冷却：20 秒</string>
				<key>name</key>
				<string>強力射擊</string>
				<key>img</key>
				<string>Powered Shot</string>
				<key>level</key>
				<string>20</string>
				<key>desc1</key>
				<string>強力的遠程攻擊，擊中敵人時爆炸，對 6 碼範圍內的敵人造成 25% 武器傷害值的秘法傷害，並有 50% 機率可使目標昏迷，持續 2 秒。</string>
			</dict>
			<dict>
				<key>name</key>
				<string>解剖</string>
				<key>img</key>
				<string>Anatomy</string>
				<key>level</key>
				<string>25</string>
				<key>desc1</key>
				<string>使盜賊與盟友的爆擊機率提高 3%。</string>
			</dict>
			<dict>
				<key>name</key>
				<string>歇斯底里</string>
				<key>img</key>
				<string>Hysteria</string>
				<key>level</key>
				<string>25</string>
				<key>desc1</key>
				<string>每當你或盜賊爆擊時，你們兩個人都會進入歇斯底里的狀態，使造成的傷害提高 10%，持續 3 秒。此效果每 5 秒只能觸發一次。</string>
			</dict>
		</array>
		<key>desc</key>
		<string>欺敵高手，以遠程攻擊射穿敵人，並且讓對方中毒與目盲。</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>Templar</string>
		<key>name</key>
		<string>聖堂騎士</string>
		<key>askill</key>
		<array>
			<dict>
				<key>cost1</key>
				<string>冷却：30 秒</string>
				<key>name</key>
				<string>治療</string>
				<key>img</key>
				<string>Heal</string>
				<key>level</key>
				<string>5</string>
				<key>desc1</key>
				<string>治療你和聖堂騎士 4651 點生命值。</string>
			</dict>
			<dict>
				<key>cost1</key>
				<string>冷却：30 秒</string>
				<key>name</key>
				<string>干涉</string>
				<key>img</key>
				<string>Intervene</string>
				<key>level</key>
				<string>5</string>
				<key>desc1</key>
				<string>當你被擊中時，嘲諷你周圍 10 碼內的敵人，持續 1 秒。</string>
			</dict>
			<dict>
				<key>name</key>
				<string>脅迫</string>
				<key>img</key>
				<string>Intimidate</string>
				<key>level</key>
				<string>10</string>
				<key>desc1</key>
				<string>擊中或遭到聖堂騎士擊中的敵人，其速度會降低 60%，持續 3 秒。</string>
			</dict>
			<dict>
				<key>name</key>
				<string>忠誠</string>
				<key>img</key>
				<string>Loyalty</string>
				<key>level</key>
				<string>10</string>
				<key>desc1</key>
				<string>使靠近聖堂騎士的所有盟友每秒恢復 155 點生命值。</string>
			</dict>
			<dict>
				<key>cost1</key>
				<string>冷却：30 秒</string>
				<key>name</key>
				<string>衝鋒</string>
				<key>img</key>
				<string>Charge</string>
				<key>level</key>
				<string>15</string>
				<key>desc1</key>
				<string>朝一名敵人衝鋒，造成 50% 武器傷害，並使 8 碼內的所有敵人昏迷，持續 2 秒。</string>
			</dict>
			<dict>
				<key>cost1</key>
				<string>冷却：15 秒</string>
				<key>name</key>
				<string>猛襲</string>
				<key>img</key>
				<string>Onslaught</string>
				<key>level</key>
				<string>15</string>
				<key>desc1</key>
				<string>對一名敵人發出重擊，造成 200% 武器傷害。</string>
			</dict>
			<dict>
				<key>cost1</key>
				<string>冷却：30 秒</string>
				<key>name</key>
				<string>守護者</string>
				<key>img</key>
				<string>Guardian</string>
				<key>level</key>
				<string>20</string>
				<key>desc1</key>
				<string>衝向一名受傷的盟友，協助擊退其身邊 15 碼範圍內的敵人，並且治療該名盟友 4651 點生命值。</string>
			</dict>
			<dict>
				<key>name</key>
				<string>鼓舞</string>
				<key>img</key>
				<string>Inspire</string>
				<key>level</key>
				<string>20</string>
				<key>desc1</key>
				<string>提高聖堂騎士跟隨的所有盟友的能量產生值。
法力：每秒提高 4 點。
秘能：每秒提高 0.5 點。
憎恨：每秒提高 1 點。
怒氣：額外產生 8% 怒氣。
精氣：額外產生 12% 精氣。</string>
			</dict>
		</array>
		<key>desc</key>
		<string>無人能出其右的神聖戰士，以近戰的方式迎擊惡魔。</string>
	</dict>
</array>
</plist>
